@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "WindSong";
    background-color: #121212;
}

*{
    box-sizing: border-box;
    margin: 0;
}

.card{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.card .container{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.card .container .logo{
    width: 100%;
    max-width: 620px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url(./assets/clouds.webp);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card .container .logo h1{
    width: min-content;
    line-height: calc((80px + 4vw) / 1.75);
    font-weight: 900;
    font-size: clamp(100px, 7vw, 150px);
}

.card .container .logo h2{
    width: min-content;
    margin-top: 10px;
    font-size: calc(20px + 1vw);
}

ul{
    height: 300px;
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    color: #fff;
    padding: 0;
}

ul h2{
    font-weight: 300;
    font-size: calc(35px + 0.5vw);
}

ul a{
    font-family: "Montserrat", Arial;
    color: #fff;
    font-size: calc(20px + 0.5vw);
}

.bokeh{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url(./assets/bokeh.webp);
    background-size: cover;
    mix-blend-mode: soft-light;
    filter: blur(5px) opacity(0.3);
    -webkit-filter: blur(5px) opacity(0.3);
}
